body {
    background: black;
}

.clock {
    position: absolute;
    top: 35%;
    left: 35%;
    color: rgb(245, 66, 11);
    font-size: 100px;
    font-family: 'Goldman', cursive;;
    letter-spacing: 7px;
}